body {
    background-color: #0d0720;
    color: white;
}

header {
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

    .logo {
        width: fit-content;
    }

    .right-buttons {
        width: fit-content;

        button {
            padding: 10px 20px;
            margin: 0px 10px;
            background-color: unset;
            border: 2px solid #8d73dd;
            border-radius: 5px;
            color: #d7cbfc;
            cursor: pointer;
            transition: background-color 0.2s cubic-bezier();

            &:hover {
                background-color: #8d73dd;
                color: black;
                border: 2px solid #8d73dd00;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.grid-outter {
    width: 100%;
    display: flex;
    justify-content: center;

    .grid-inner {
        width: 60vw;
        background-color: white;
        display: flex;
        justify-content: space-around;
        background-color: #110929;
        .grid {
            .grid-element {
                width: 1vw;
                height: 1vw;
                border: 1px solid #ffffff15;
                transition: background-color 0.5s cubic-bezier();

                &:hover {
                    background-color: #1d1536;
                }

                &.active {
                    background-color: #5439a3;
                }
            }
        }

        .pattern-selector-outter {
            height: 100%;
            padding: 20px 0;
            .title {
                text-align: center;
                font-size: 24px;
                font-weight: 600;
            }

            .pattern-selector-inner {
                background-color: darkcyan;
                margin-top: 20px;

                .pattern {
                    width: 150px;
                    height: 150px;
                    position: relative;

                    .name {
                        position: absolute;
                        bottom: 15px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
