body {
    color: white;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #0d0720;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232e2b33' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    // animation: '5s scroll infinite linear';
}

@keyframes scrollNormal {
    100% {
        background-position: 52px 52px;
    }
}

@keyframes scrollFast {
    100% {
        background-position: -104px -104px;
    }
}

header {
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

    .logo {
        width: fit-content;
    }

    .right-buttons {
        width: fit-content;

        button {
            padding: 10px 20px;
            margin: 0px 10px;
            background-color: unset;
            border: 2px solid #8d73dd;
            border-radius: 5px;
            color: #d7cbfc;
            cursor: pointer;
            transition: background-color 0.2s cubic-bezier();

            &:hover {
                background-color: #8d73dd;
                color: black;
                border: 2px solid #8d73dd00;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    button {
        padding: 10px 20px;
        margin: 0px 10px;
        background-color: unset;
        border: 2px solid #8d73dd;
        border-radius: 5px;
        color: #d7cbfc;
        cursor: pointer;
        transition: background-color 0.2s cubic-bezier();

        &:hover {
            background-color: #8d73dd;
            color: black;
            border: 2px solid #8d73dd00;
        }

        &:focus {
            outline: none;
        }
    }
}

.grid-outter {
    width: 100%;
    display: flex;
    justify-content: center;

    .grid-inner {
        width: 60vw;
        display: flex;
        justify-content: space-around;
        .grid {
            cursor: pointer;
            background-color: #110929;
            .grid-element {
                width: 1vw;
                height: 1vw;
                border: 1px solid #ffffff15;
                transition: background-color 0.5s cubic-bezier();

                &:hover {
                    background-color: #1d1536;
                }

                &.active {
                    background-color: #5439a3;
                }
            }
        }

        .pattern-selector-outter {
            height: 100%;
            padding: 20px 0;
            .title {
                text-align: center;
                font-size: 24px;
                font-weight: 600;
            }

            .pattern-selector-inner {
                background-color: darkcyan;
                margin-top: 20px;

                .pattern {
                    width: 150px;
                    height: 150px;
                    position: relative;

                    .name {
                        position: absolute;
                        bottom: 15px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
